<div>
  <div style="display: block; width: 400px; height: 400px; margin: auto">
    <canvas baseChart height="400px" width="400px" *ngIf="(expenses$ | async).length > 0"
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [colors]="chartColors"
    >
    </canvas>
    <div style="color:#7c7b7b; font-size: 24px; position: absolute; top: 50%; left: 50%; -moz-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);"
      *ngIf="(expenses$ | async).length === 0 && !(requestingExpenses$ | async) && !(requestingCategories$ | async)">
      No data
    </div>
  </div>
</div>
