<div>
  <div class="pie-chart-container">
    <canvas baseChart height="400px" width="400px" *ngIf="(expenses$ | async).length > 0"
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [colors]="chartColors"
    >
    </canvas>
    <div class="no-data"
      *ngIf="(expenses$ | async).length === 0 && !(requestingExpenses$ | async) && !(requestingCategories$ | async)">
      No data
    </div>
  </div>
</div>
