<div class="timeline-container">
  <button mat-button (click)="onOverallReportSelected()">Overall</button>
  <mat-accordion *ngFor="let year of months$ | async | keyvalue">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{year.key}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p style="cursor: pointer" *ngFor="let month of year.value"  (click)="onMonthlyReportSelected({year: year.key, number: month.number, name: month.name})">
        {{month.name}}
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
