<mat-toolbar *ngIf="showToolbar">
  <mat-grid-list cols="12">
    <a mat-button color="primary"  (click)="onDialogOpen()">Add expense</a>
    <a mat-button color="primary" (click)="onShowDelete()">Delete expense</a>
    <a mat-button color="primary">Update expense</a>
  </mat-grid-list>
</mat-toolbar>
<div class="expense-report-container">
  <h2> {{ title }} </h2>
  <mat-grid-list [cols]="3" rowHeight="100px" *ngIf="">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card>
        <app-income [expenses$]="expenses$"></app-income>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card>
        <app-overall-expense [expenses$]="expenses$"></app-overall-expense>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card>
        <div>
          <p>Balance {{ income - expense | number: '1.2-2' }}</p>
          <mat-progress-bar value="{{ 100*(income - expense)/income }}"></mat-progress-bar>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider> </mat-divider>
  <app-expenses-table
    [expenses]="expenses"
    [showDelete]="showDelete"
    [requesting$]="requesting$"
    (onExpenseDeleted)="deleteExpense($event)">
  </app-expenses-table>
</div>
