table {
  width: 90%;
}

th.mat-sort-header-sorted {
  color: black;
}

.income {}

.income td {
  color: #64DD17;
  font-weight: 500;
}

.expense {}

.expense td {
  color: #FF5252;
  font-weight: 500;
}
