
<!-- separate component -->
<mat-toolbar>
  <mat-grid-list cols="12">
    <a mat-button color="primary"  (click)="onDialogOpen()">Add expense</a>
    <a mat-button color="primary" (click)="onShowDelete()">Delete expense</a>
    <a mat-button color="primary">Update expense</a>
  </mat-grid-list>
</mat-toolbar>

<div style="margin-left: 5%; margin-right: 5%">

  <h2> Monthly report for {{monthName}} {{year}} </h2>

  <mat-grid-list [cols]="3" rowHeight="100px" >
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card>
        <p>Income {{income}}$</p>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card>
        <p>Expenses {{expense}}$</p>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card>
        <div>
          <p>Balance {{income - expense}}$</p>
          <mat-progress-bar value="{{100*(income - expense)/income}}"></mat-progress-bar>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>



  <mat-divider> </mat-divider>

  <app-expenses-table
    [expenses]="expenses"
    [showDelete]="showDelete"
    [requesting$]="requesting$"
    (onExpenseDeleted)="deleteExpense($event)">
  </app-expenses-table>

</div>
