mat-grid-list {
  text-align: center;
  margin: 20px;
}

mat-grid-tile {
  height: 180px;
  width: 150px;
}

mat-card {
  height: 180px;
  width: 150px;
  border: 2px solid #7B1FA2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

mat-card a {
  position: absolute;
}

mat-card a i {
  font-size: 40px;
  color: #9b5fe2;
}

mat-card p {
  position: relative;
  bottom: -30px;
}
