<mat-grid-list cols="5" rowHeight="250px" gutterSize="10">
  <mat-grid-tile *ngFor="let category of categories$ | async">
    <app-category-card
      [category] = "category"
      [requesting$] = "requesting$"
      [deletingCategoryId] = "deletingCategoryId"
      (deletedCategory) = "onDeletedCategory($event)">
    </app-category-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <a routerLink="/categories/create">
        <i class="fa fa-plus-circle"></i>
      </a>
      <p>Add category</p>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
