<app-timeline-sidebar
  [months$]="months$"
  (monthlyReportSelected)="onMonthlyReportSelected($event)"
  (overallReportSelected)="onOverallReportSelected($event)">
</app-timeline-sidebar>

<div class="dashboard-container">
  <h1>Dashboard</h1>
  <p>{{ reportPeriod }}</p>
  <mat-divider></mat-divider>
  <mat-grid-list cols="12" rowHeight="150px" gutterSize="10">
    <mat-grid-tile colspan="6" rowspan="3">
      <mat-card>
        <mat-card-title>
          Total expenses by category
        </mat-card-title>
        <mat-spinner [diameter]="60" *ngIf="(requestingCategories$ | async) || (requestingExpenses$ | async)"></mat-spinner>
        <app-total-expenses-by-category-pie-chart
          [expenses$]="expenses$"
          [categories$]="categories$"
          [requestingExpenses$]="requestingExpenses$"
          [requestingCategories$]="requestingCategories$">
        </app-total-expenses-by-category-pie-chart>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="3">
      <mat-card>
        <mat-card-title>
          Categories by consumption
        </mat-card-title>
        <mat-spinner [diameter]="60" *ngIf="(requestingCategories$ | async) || (requestingExpenses$ | async)"></mat-spinner>
        <app-categories-by-consumption-bar-chart
          [expenses$]="expenses$"
          [categories$]="categories$"
          [requestingExpenses$]="requestingExpenses$"
          [requestingCategories$]="requestingCategories$">
        </app-categories-by-consumption-bar-chart>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="8" rowspan="2">
      <mat-card class="top-expenses-container">
        <mat-card-title>Top expenses</mat-card-title>
        <app-top-expenses
          [expenses$]="expenses$"
          [numberOfTopExpenses]="5"
          [requestingExpenses$]="requestingExpenses$">
        </app-top-expenses>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1">
      <mat-card class="stats">
        <app-income [expenses$]="expenses$"></app-income>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1">
      <mat-card class="stats">
        <app-overall-expense [expenses$]="expenses$"></app-overall-expense>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="12" rowspan="3">
      <mat-card>
        <mat-spinner [diameter]="60" *ngIf="(requestingReport$ | async)"></mat-spinner>
        <app-overall-expense-report-bar-chart
          *ngIf="(reportType$ | async) === 'overall'"
          [report$]="report$"
          [requestingReport$]="requestingReport$">
        </app-overall-expense-report-bar-chart>
        <app-monthly-expense-report-bar-chart
          *ngIf="(reportType$ | async) === 'monthly'"
          [report$]="report$"
          [requestingReport$]="requestingReport$">
        </app-monthly-expense-report-bar-chart>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
