.dashboard-container {
  margin: 20px;
  width: 84%;
}

.dashboard-container mat-divider {
  margin-bottom: 10px;
}

.dashboard-container mat-card {
  width: 100%;
}

.dashboard-container mat-card-title {
  text-align: center;
}

.no-data {
  color:#7c7b7b;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

mat-spinner {
  position: absolute;
  top: 42%;
  left: 40%;
  -moz-transform: translateX(-40%) translateY(-42%);
  -webkit-transform: translateX(-40%) translateY(-42%);
  transform: translateX(-40%) translateY(-42%);
}

.stats {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-expenses-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}
